.book-box{
  height: 175px;
}

.thumb{
  height: 150px;
  width: 100px;
  overflow: hidden;
  position: relative;
  float: left;
  margin-right: 10px;
}

.thumb img{
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.form-modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.form-modal-content{
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  width: 500px;
}

.close{
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form#edit-book{
  display: none;
}

#add-book{
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}
